<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/milligram.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Pasta Pastebin</title>
</head>
<body>


{% if editable %}

    <div class="container">
        <div class="row">
            <div class="column">
                <form action="/{{ uuid }}" method="post">
                    {{ form.csrf_token }}
                    {{ form.token() }}

                    <fieldset>
                        {{ form.title.label }}{{ form.title() }}
                        {{ form.content.label }}{{ form.content() }}

                        <div class="float-right">
                            <input type="submit" class="button-primary" value="paste">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% else -%}
    <div class="row">
        <div class="column column-67 hashsums">
            MD5: {{ data.md5 }} <br>
            SHA1: {{ data.sha1 }} <br>
            {{ size|filesizeformat }}
        </div>
        <div class="column column-33 right">
            <h4>
                <a href="{{ url_for('handle_raw_paste', uuid=uuid) }}">{{ data.title }}</a>
            </h4>
                <a href="{{ url_for('index') }}">New</a>
            {% if can_delete %}
                <a href="{{ url_for('handle_delete_paste', uuid=uuid, token=token) }}">Delete</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="column">
            <pre><code>{{ data.contents }}</code></pre>
        </div>
    </div>

{%- endif %}

</body>
</html>