<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/milligram.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Pasta</title>
</head>

<div class="container">
    <div class="row">
        <div class="column">

        </div>
    </div>
    <div class="row">
        <div class="column">
            <form action="/{{ sha }}" method="post">
                <fieldset>
                    <label for="titleField">Title</label>
                    <input type="text" id="titleField" name="titleField">

                    <label for="contentsField">Contents</label>
                    <textarea name="contentsField" id="contentsField"></textarea>

                    <div class="float-right">
                        <a href='/' class="button button-outline">new</a>

                    </div>
                </fieldset>

                <input type="hidden" name="pageToken" value="{{ page_token }}">
                <input type="hidden" name="timestamp" value="{{ timestamp }}">
            </form>
        </div>
    </div>
</div>

{{ token }}<br>
{{ uuid }}

<form action="/{{ uuid }}" method="post">
    {{ form.csrf_token }}
    {{ form.token }}

    {{ form.title.label }}{{ form.title() }}
    {{ form.content.label }}{{ form.content() }}

    <input type="submit" class="button-primary" value="paste">
</form>

</body>
</html>